$basePath: '../assets/fonts/clash-grotesk';

// Clash Grotesk

@font-face {
  font-family: 'Clash Grotesk';
  src: url('#{$basePath}/ClashGrotesk-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Grotesk';
  src: url('#{$basePath}/ClashGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Grotesk';
  src: url('#{$basePath}/ClashGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Grotesk';
  src: url('#{$basePath}/ClashGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Grotesk';
  src: url('#{$basePath}/ClashGrotesk-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Grotesk';
  src: url('#{$basePath}/ClashGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
