@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url('./fonts.scss');

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
  min-width: 320px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: $container-width;
  max-width: $max-width-container;
  margin: 0 auto;
  @media (max-width: $small-mobile) {
    width: $container-width-mobile;
  }
}