@import '../../../styles/variables.scss';

.projectsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
}

.title {
    font-size: clamp(32px, 4vw, 48px);
    font-weight: 500;
    font-family: $font-clash-grotesk;
    color: $white;
    text-align: center;
}

.projectsBlock {
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    opacity: 0;
    transform: translateX(200px);
    transition: opacity 1.2s ease, transform 1.2s ease;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
   
    &::-webkit-scrollbar {
        display: none;
    }
}


.projectsBlockVisible {
    opacity: 1;
    transform: translateX(0);
}

.projectImg {
    max-height: 100px;
      @media (max-width:$tablet) {
        height: 55px;
    }
    
}