@import '../../../styles/variables.scss';

.projectsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
}

.title {
    font-size: 48px;
    font-weight: 500;
    font-family: $font-clash-grotesk;
    color: $white;
    text-align: center;
}

.projectsBlock {
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    opacity: 0;
    transform: translateX(200px);
    transition: opacity 1.2s ease, transform 1.2s ease;
    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}


.projectsBlockVisible {
    opacity: 1;
    transform: translateX(0);
}

.projectImg {
    max-height: 100px;
}